.DS_Store
.vscode
.cache
build
compile_commands.json
.idea/
cmake-build-*
*.dylib*
*.ilk
*.obj
*.pdb
*.exp
*.lib
*.dll

*.o
*.a
*.so*
*.so
*.exe

Makefile
Makefile.*

*.orig
*_LOCAL_*
*.LOCAL*
*.BACKUP*
*_BACKUP_*
*_REMOTE_*
*.BACKUP*
*_REMOTE_*
*.BASE*
*_BASE_*
*.autosave